---
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout
title="Protected"
>
<h1 class="text-3xl">Pagina protegida</h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis reprehenderit magnam provident ducimus vitae. Magni expedita voluptatem nihil, ad harum quae itaque aliquam repellat suscipit nemo aperiam vitae enim nobis!
</MainLayout>